@font-face
  font-family: 'iconfont'
  src: url('~common/fonts/iconfont.eot?2qevqt')
  src: url('~common/fonts/iconfont.eot?2qevqt#iefix') format('embedded-opentype'),
    url('~common/fonts/iconfont.ttf?2qevqt') format('truetype'),
    url('~common/fonts/iconfont.woff?2qevqt') format('woff'),
    url('~common/fonts/iconfont.svg?2qevqt#iconfont') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-appreciate:before
  content: "\e644"

.icon-check:before
  content: "\e645"

.icon-close:before
  content: "\e646"

.icon-edit:before
  content: "\e649"

.icon-emoji:before
  content: "\e64a"

.icon-favorfill:before
  content: "\e64b"

.icon-favor:before
  content: "\e64c"

.icon-loading:before
  content: "\e64f"

.icon-locationfill:before
  content: "\e650"

.icon-location:before
  content: "\e651"

.icon-phone:before
  content: "\e652"

.icon-roundcheckfill:before
  content: "\e656"

.icon-roundcheck:before
  content: "\e657"

.icon-roundclosefill:before
  content: "\e658"

.icon-roundclose:before
  content: "\e659"

.icon-roundrightfill:before
  content: "\e65a"

.icon-roundright:before
  content: "\e65b"

.icon-search:before
  content: "\e65c"

.icon-timefill:before
  content: "\e65e"

.icon-time:before
  content: "\e65f"

.icon-unfold:before
  content: "\e661"

.icon-warnfill:before
  content: "\e662"

.icon-warn:before
  content: "\e663"

.icon-camerafill:before
  content: "\e664"

.icon-camera:before
  content: "\e665"

.icon-commentfill:before
  content: "\e666"

.icon-comment:before
  content: "\e667"

.icon-likefill:before
  content: "\e668"

.icon-like:before
  content: "\e669"

.icon-notificationfill:before
  content: "\e66a"

.icon-notification:before
  content: "\e66b"

.icon-deliver:before
  content: "\e671"

.icon-pay:before
  content: "\e673"

.icon-shop:before
  content: "\e676"

.icon-ticket:before
  content: "\e677"

.icon-back:before
  content: "\e679"

.icon-cascades:before
  content: "\e67c"

.icon-discover:before
  content: "\e67e"

.icon-more:before
  content: "\e684"

.icon-scan:before
  content: "\e689"

.icon-settings:before
  content: "\e68a"

.icon-questionfill:before
  content: "\e690"

.icon-question:before
  content: "\e691"

.icon-shopfill:before
  content: "\e697"

.icon-form:before
  content: "\e699"

.icon-wangfill:before
  content: "\e69a"

.icon-pic:before
  content: "\e69b"

.icon-filter:before
  content: "\e69c"

.icon-top:before
  content: "\e69e"

.icon-pulldown:before
  content: "\e69f"

.icon-pullup:before
  content: "\e6a0"

.icon-right:before
  content: "\e6a3"

.icon-refresh:before
  content: "\e6a4"

.icon-moreandroid:before
  content: "\e6a5"

.icon-deletefill:before
  content: "\e6a6"

.icon-refund:before
  content: "\e6ac"

.icon-cart:before
  content: "\e6af"

.icon-qrcode:before
  content: "\e6b0"

.icon-remind:before
  content: "\e6b2"

.icon-delete:before
  content: "\e6b4"

.icon-profile:before
  content: "\e6b7"

.icon-home:before
  content: "\e6b8"

.icon-cartfill:before
  content: "\e6b9"

.icon-discoverfill:before
  content: "\e6ba"

.icon-homefill:before
  content: "\e6bb"

.icon-message:before
  content: "\e6bc"

.icon-addressbook:before
  content: "\e6bd"

.icon-link:before
  content: "\e6bf"

.icon-lock:before
  content: "\e6c0"

.icon-unlock:before
  content: "\e6c2"

.icon-weibo:before
  content: "\e6c4"

.icon-friendaddfill:before
  content: "\e6c9"

.icon-friendadd:before
  content: "\e6ca"

.icon-friendfamous:before
  content: "\e6cb"

.icon-friend:before
  content: "\e6cc"

.icon-goods:before
  content: "\e6cd"

.icon-selection:before
  content: "\e6ce"

.icon-tmall:before
  content: "\e6cf"

.icon-squarecheckfill:before
  content: "\e6d4"

.icon-square:before
  content: "\e6d5"

.icon-squarecheck:before
  content: "\e6d6"

.icon-round:before
  content: "\e6d7"

.icon-roundaddfill:before
  content: "\e6d8"

.icon-roundadd:before
  content: "\e6d9"

.icon-add:before
  content: "\e6da"

.icon-notificationforbidfill:before
  content: "\e6db"

.icon-fold:before
  content: "\e6de"

.icon-redpacket:before
  content: "\e6e0"

.icon-infofill:before
  content: "\e6e4"

.icon-info:before
  content: "\e6e5"

.icon-forwardfill:before
  content: "\e6ea"

.icon-forward:before
  content: "\e6eb"

.icon-rechargefill:before
  content: "\e6ec"

.icon-recharge:before
  content: "\e6ed"

.icon-vipcard:before
  content: "\e6ee"

.icon-voice:before
  content: "\e6ef"

.icon-voicefill:before
  content: "\e6f0"

.icon-friendfavor:before
  content: "\e6f1"

.icon-wifi:before
  content: "\e6f2"

.icon-share:before
  content: "\e6f3"

.icon-wefill:before
  content: "\e6f4"

.icon-we:before
  content: "\e6f5"

.icon-barcode:before
  content: "\e6fb"

.icon-searchlist:before
  content: "\e6fe"

.icon-sort:before
  content: "\e700"

.icon-down:before
  content: "\e703"

.icon-mobile:before
  content: "\e704"

.icon-mobilefill:before
  content: "\e705"

.icon-copy:before
  content: "\e706"

.icon-countdownfill:before
  content: "\e707"

.icon-countdown:before
  content: "\e708"

.icon-noticefill:before
  content: "\e709"

.icon-notice:before
  content: "\e70a"

.icon-upstagefill:before
  content: "\e70e"

.icon-upstage:before
  content: "\e70f"

.icon-creativefill:before
  content: "\e718"

.icon-creative:before
  content: "\e719"

.icon-pullright:before
  content: "\e720"

.icon-rankfill:before
  content: "\e721"

.icon-rank:before
  content: "\e722"

.icon-cameraadd:before
  content: "\e724"

.icon-friendfill:before
  content: "\e726"

.icon-apps:before
  content: "\e729"

.icon-picfill:before
  content: "\e72c"

.icon-refresharrow:before
  content: "\e72d"

.icon-markfill:before
  content: "\e730"

.icon-mark:before
  content: "\e731"

.icon-album:before
  content: "\e734"

.icon-peoplefill:before
  content: "\e735"

.icon-people:before
  content: "\e736"

.icon-repair:before
  content: "\e738"

.icon-repairfill:before
  content: "\e73a"

.icon-attentionfill:before
  content: "\e73c"

.icon-attention:before
  content: "\e73d"

.icon-communityfill:before
  content: "\e740"

.icon-community:before
  content: "\e741"

.icon-calendar:before
  content: "\e74a"

.icon-tagfill:before
  content: "\e751"

.icon-tag:before
  content: "\e752"

.icon-group:before
  content: "\e753"

.icon-post:before
  content: "\e759"

.icon-writefill:before
  content: "\e760"

.icon-write:before
  content: "\e761"

.icon-radioboxfill:before
  content: "\e763"

.icon-shake:before
  content: "\e765"

.icon-add1:before
  content: "\e767"

.icon-move:before
  content: "\e768"

.icon-safe:before
  content: "\e769"

.icon-goodsfill:before
  content: "\e778"

.icon-messagefill:before
  content: "\e779"

.icon-profilefill:before
  content: "\e77a"

.icon-my:before
  content: "\e78b"

.icon-myfill:before
  content: "\e78c"

.icon-emojifill:before
  content: "\e78d"

.icon-triangledownfill:before
  content: "\e79b"

.icon-triangleupfill:before
  content: "\e79c"

.icon-roundleftfill-copy:before
  content: "\e79e"

.icon-pulldown1:before
  content: "\e79f"

.icon-emojilight:before
  content: "\e7a1"

.icon-roundaddlight:before
  content: "\e7a7"

.icon-sortlight:before
  content: "\e7ad"

.icon-piclight:before
  content: "\e7b7"

.icon-shoplight:before
  content: "\e7b8"

.icon-peoplelist:before
  content: "\e7be"

.icon-askfill:before
  content: "\e7c9"

.icon-ask:before
  content: "\e7ca"

.icon-usefullfill:before
  content: "\e7cf"

.icon-usefull:before
  content: "\e7d0"

.icon-moneybag:before
  content: "\e7d1"

.icon-redpacket_fill:before
  content: "\e7d3"

.icon-my_light:before
  content: "\e7d5"

.icon-cart_light:before
  content: "\e7d6"

.icon-cart_fill_light:before
  content: "\e7d8"

.icon-search_light:before
  content: "\e7da";

.icon-scan_light:before
  content: "\e7db"

.icon-close_light:before
  content: "\e7dc"

.icon-add_light:before
  content: "\e7dd"

.icon-profile_light:before
  content: "\e7de"

.icon-friend_add_light:before
  content: "\e7df"

.icon-edit_light:before
  content: "\e7e0"

.icon-camera_light:before
  content: "\e7e1"

.icon-back_light:before
  content: "\e7e2"

.icon-share_light:before
  content: "\e7e3"

.icon-comment_light:before
  content: "\e7e4"

.icon-comment_fill_light:before
  content: "\e7e5"

.icon-wang_light:before
  content: "\e7e6"

.icon-more_android_light:before
  content: "\e7e7"

.icon-friend_light:before
  content: "\e7e8"

.icon-delete_light:before
  content: "\e7ed"

.icon-back_android:before
  content: "\e7ee"

.icon-back_android_light:before
  content: "\e7ef"

.icon-down_light:before
  content: "\e7f0"

.icon-round_close_light:before
  content: "\e7f1"

.icon-group_light:before
  content: "\e7f3"

.icon-group_fill:before
  content: "\e7f4"

.icon-qr_code_light:before
  content: "\e7f8"
