*html
  background-attachment: fixed
  overflow-x: hidden

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, form, fieldset, input, textarea, blockquote, p,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, acronym, address, big, cite, code, label, legend
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  font-family: Heiti SC, Helvetica, Helvetica Neue, Droid Sans, Droid Sans Fallback, Deng Xian, Segoe, sans-serif

html, body
  height: 100%
  background: #f2f2f2
  overflow-x:hidden
  background-attachment: scroll
  -webkit-text-size-adjust: 100%

ul, ol
  list-style: none

address,cite,code,em,th
  font-weight: normal
  font-style: normal

a, button, input, textarea
  border: none
  outline: none
  cursor: pointer
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  -webkit-tap-highlight-color: transparent
  &:focus
    outline: none
    outline: 0

textarea
  resize: none

input
  width: 50%

input::-webkit-input-speech-button
  display: none

input::-moz-placeholder, textarea::-moz-placeholder
  color: #d8d8d8

input:-ms-input-placeholder, textarea:-ms-input-placeholder
  color: #d8d8d8

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
  color: #d8d8d8

a
  text-decoration: none !important
  cursor: pointer
  outline: none

label
  -webkit-tap-highlight-color: transparent

ins
  text-decoration: none
  -webkit-tap-highlight-color: transparent

hr
  margin:0 auto

img
  border: 0
  vertical-align: middle

table
  border-collapse: collapse
  border-spacing: 0
