$p_bgcolor = #f2f2f2
$p_color = #111

$c_base = #f1160a

$c_white = #fff

$c_gray = #e1e1e1
$c_dark_gray = #eeeeee
$c_light_gray = #efefef

$c_dark = #ccc
$c_dark_dark = #bcbcbc
$c_light_dark = #ddd

$c_black = #000

$c_color = #666
$c_dark_color = #333
$c_light_color = #999


$t_1 = 0.32 rem
$t_2 = 0.373 rem
$t_3 = 0.427 rem
$t_4 = 0.48 rem
$t_5 = 0.533 rem
