$p_bgcolor = #f2f2f2
$p_color = #111

$c_base = #f1160a

$c_light_white = #fcfcfc
$c_white = #fff
$c_dark_white = #f9f9f9

$c_gray = #e1e1e1
$c_dark_gray = #eeeeee
$c_light_gray = #efefef

$c_dark = #ccc
$c_dark_dark = #bcbcbc
$c_light_dark = #ddd

$c_black = #000

$c_color = #666
$c_dark_color = #333
$c_light_color = #999

$c_blue = #59C3E2
$c_dark_blue = #22AEE6
$c_deep_blue = #007fff
$c_light_blue = #B1D4DB

$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

$t_1 = 0.32rem  // 24
$t_2 = 0.34667rem // 26
$t_3 = 0.37333rem  // 28
$t_4 = 0.4rem  // 30
$t_5 = 0.42667rem // 32
$t_6 = 0.45333rem // 34
$t_7 = 0.48rem // 36px
$t_8 = 0.533rem

// 导航栏  36px/30px

// 文章标题  36px/34px/32px

// 说明性文字 28px / 24px

// 辅助说明 22px / 20px
